body {
    font-family: sans-serif;
}

line,
text {
    fill: black;
    stroke: black;
}

.axis text {
    font-size: 12px;
}

.timeline-point {
    stroke: black;
    cursor: pointer;
}

.timeline-point:hover {
    stroke: none;
    filter: brightness(120%);
}

.timeline-point.active-era {
    fill: white;
    stroke: red;
}

.bar {
    stroke: black;
}

.bubble {
    stroke: black;
}

.axis line,
.axis path {
    stroke-width: 1;
}

#timeline-container {
    overflow-y: scroll;
    overflow-x: clip;
    height: 100%;
}

#charts-container {
    height: 93.5vh;
}

#control-container {
    height: 6vh;
}

#bar-chart-container {
    height: 35%;
}

#side-container {
    overflow-y: auto;
    overflow-x: clip;
    height: 100%;
}

#timeline, 
#bar-chart {
    display: inline-block;
    vertical-align: top;
}

#bar-chart {
    margin-left: 50px;
}

.song-label, 
.value-label {
    fill: black;
}
