body {
    font-family: sans-serif;
  }

  .timeline-point {
    fill: black;
    stroke: none;
  }

  line,
  text {
    fill: black;
    stroke: black;
  }

  .axis text {
    font-size: 12px;
  }

  .axis line,
  .axis path {
    stroke-width: 1;
  }

  #timeline, 
  #bar-chart {
    display: inline-block;
    vertical-align: top;
  }

  #bar-chart {
    margin-left: 50px;
  }

  .bar {
    fill: pink;
}

.song-label, 
.value-label {
    fill: black;
}
