body {
    font-family: sans-serif;
  }

  .timeline-point {
    fill: black;
    stroke: none;
  }

  line,
  text {
    fill: black;
    stroke: black;
  }

  .axis text {
    font-size: 12px;
  }

  .axis line,
  .axis path {
    stroke-width: 1;
  }